/**
 * Drupal field and field component styling.
 */

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include size-desktop() {
    min-height: map-get($heights, hero);
  }
}

.hero-inner {
  color: palette($colors, gray, light);
  text-align: center;
  z-index: 1;
}

.hero-title {
  font-size: 84px;
  margin: 1rem 0;
}

.hero-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: -999;
}