/**
 * Styles defining how various system parts display.
 */

body {
  background: white;
  font-family: $body-font;
  font-weight: 400;
  margin: 0;

  strong {
    font-weight: 700;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $headline-font;
  font-weight: 300;

  strong {
    font-weight: 400;
  }
}
